{% extends "backoffice/layout.html.twig" %}

{% block title %}Tous les articles
{% endblock %}

{% block content %}
	<div class="container">
		<div class="mainbox mx-auto col-md-12  mt-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title text-center">
						Gestion des articles
					</h2>
				</div>
				<div class="panel-body mt-5">
					{% if data.delPost  %}<p class="alert alert-primary">{{data.delPost.success}}</p>{% endif %}
					<a href="/?page=addPostBack">
						<button class="btn btn-primary mx-auto mdpBtn">Créer un article</button>
					</a>
					<table class="table table-bordered table-hover table-responsive-sm">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Articles N°</th>
								<th scope="col">Chapô</th>
								<th scope="col">Modification</th>
								<th scope="col">Suppression</th>
							</tr>
						</thead>
						<tbody>
							{% if data.post %}
								{% for posts in data.post.post  %}
									<tr>
										<td>{{posts.idPost}}</td>
										<td>{{posts.chapo|raw}}</td>
										<td>
											<a href="/?page=updatePostBack&id={{posts.idPost}}">Modifier</a>
										</td>
										<td>
											<a href="/?page=deletePostBack&perpage=1&id={{posts.idPost}}">Supprimer</a>
										</td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
				{% if data.post %}
					{#--------------------------allPostPagination-----------------------------#}
					<nav aria-label="Page navigation mr-auto">
						<ul class="paginationPost pg-blue">
							<li class="page-item
									{% if data.post.current == 1
									or data.post.current <1 %}
									disabled
									{% endif %}">
								<a class="page-link" aria-label="Previous" href="/?page={% if data.post.current != 1 %} allPostsBack&perpage={{data.post.current - 1 }} {% else %}allPostsBack&perpage={{data.post.current }} {% endif %}">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							{% for i in 1..data.post.nbPage %}
								{% if i == data.post.current %}
									<li class="page-item active">
										<a class="page-link" href="/?page=allPostsBack&perpage={{ i }}">{{ i }}</a>
									</li>
								{% else %}
									<li class="page-item
											{% if data.post.current <1 %}
											disabled
											{% endif %}">
										<a class="page-link" href="/?page=allPostsBack&perpage={{ i }}">{{ i }}</a>
									</li>
								{% endif %}
							{% endfor %}
							<li class="page-item
									{% if data.post.current ==
									data.post.nbPage %}
									disabled
									{% endif %}">
								<a class="page-link" aria-label="Next" href="/?page={% if data.post.current != data.post.nbPage %} allPostsBack&perpage={{data.post.current + 1 }} {% else %} allPostsBack&perpage={{data.allPosts.current }} {% endif %}">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				{% endif %}
				{#-------------------------END-PAGINATION-----------------------------#}
			</div>
		</div>
	</div>
{% endblock %}

