{% extends "backoffice/layout.html.twig" %}

{% block title %}Modifier un article
{% endblock %}

{% block content %}
	<div class="container">
		<div  class="mainbox mx-auto col-md-9 col-md-offset-3 col-sm-6 col-sm-offset-3 mt-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title text-center">Modifier un article</div>
				</div>
					{% if data.valdel.success %}
						<div class="alert alert-primary" role="alert">
							{{data.valdel.success}}
						</div>
					{% endif %}
					{% if data.valdel.error %}
						{% for errors in data.valdel.error %}
						<div class="alert alert-danger" role="alert">
							{{ errors }}</div>
						{% endfor %}
					{% endif %}
				<div class="panel-body mt-5">
					<form method="POST" action="/?page=updatePost&action=updatePostBdd&id={{data.id}}" enctype="multipart/form-data">
						<input id="title" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre titre" type="text" name="title" value="{{data.title}}"><br>
						<p class="alert alert-warning">Veuillez remettre une image</p>
						<input id="image" class="flex-fill col-sm-2 col-md-12 mr-0 mr-sm-2 mb-3 mb-sm-2"  type="file" name="imagePost"><br>
						<textarea id="textAreaChapo" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 textAreaForm" placeholder="Entrer le chapo" name="chapo">{{data.chapo}}</textarea><br>
						<textarea id="textAreaDescription" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 textAreaForm" placeholder="Entrer votre descrition" name="description">{{data.description}}</textarea><br>
						<input type="hidden" name="token" id="token" value="{{session.token}}"/>
						<button class="btn btn-primary mx-auto" type="submit" name="submit">Modifier l'article</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
