{% extends "backoffice/layout.html.twig" %}

{% block title %}Gestion des utilisateurs
{% endblock %}

{% block content %}
	<div class="container">
		<div class="mainbox mx-auto col-md-12 col-md-offset-3 col-sm-6 col-sm-offset-3 mt-5 overflow-auto">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title text-center">
					Gestion des utilisateurs
					</h2>
				</div>
				<div class="panel-body mt-5 h-10">
					{% if data.success %}
						<div class="alert alert-primary" role="alert">
							{{data.success}}
						</div>
					{% elseif data.error %}
							<div class="alert alert-danger" role="alert">
								{{data.error}}
							</div>
					{% endif %}
					<table class="table table-bordered table-hover table-responsive-sm ">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Utilisateurs</th>
								<th scope="col">Rôles</th>
								<th scope="col">Devenir Admin</th>
								<th scope="col">Devenir Utilisateur</th>
							</tr>
						</thead>
						<tbody>
						{% for users in data.paginationUser.user %}
							<tr>
								<td scope="row">{{users.userName}}</td>
								<td scope="row" >{{users.userType}}</td>
								<td><a href="/?page=userManagementRole&perpage={{data.paginationUser.current}}&action=admin&id={{users.idUser}}" class="linkHover">Admin</a></td>
								<td><a href="/?page=userManagementRole&perpage={{data.paginationUser.current}}&action=user&id={{users.idUser}}" class="linkHover">Utilisateur</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% if data.paginationUser %}
					{#--------------------------allUserPagination-----------------------------#}
					<nav aria-label="Page navigation mr-auto">
						<ul class="paginationPost pg-blue">
							<li class="page-item
									{% if data.paginationUser.current == 1
									or data.paginationUser.current <1 %}
									disabled
									{% endif %}">
								<a class="page-link" aria-label="Previous" href="/?page={% if data.paginationUser.current != 1 %} userManagement&perpage={{data.paginationUser.current - 1 }} {% else %}userManagement&perpage={{data.paginationUser.current }} {% endif %}">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							{% for i in 1.. data.paginationUser.nbPage %}
								{% if i == data.paginationUser.current %}
									<li class="page-item active">
										<a class="page-link" href="/?page=userManagement&perpage={{ i }}">{{ i }}</a>
									</li>
								{% else %}
									<li class="page-item
											{% if data.paginationUser.current <1 %}
											disabled
											{% endif %}">
										<a class="page-link" href="/?page=userManagement&perpage={{ i }}">{{ i }}</a>
									</li>
								{% endif %}
							{% endfor %}
							<li class="page-item
									{% if data.paginationUser.current ==
									data.paginationUser.nbPage %}
									disabled
									{% endif %}">
								<a class="page-link" aria-label="Next" href="/?page={% if data.paginationUser.current != data.paginationUser.nbPage %} userManagement&perpage={{data.paginationUser.current + 1 }} {% else %} userManagement&perpage={{data.paginationUser.current }} {% endif %}">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				{% endif %}
				{#-------------------------END-PAGINATION-----------------------------#}
			</div>
		</div>
	</div>
{% endblock %}
