{% extends "frontoffice/layout.html.twig" %}
{% block content %}
 <section class="postBlogHome">
      <div class="container">
        <div class="">
          <h2>Bl<b>og</b></h2>
          <div class="row-page row">
          
            {# First post #}
            <div class="col-page col-sm-8 col-md-6">
              <a href="?p=post&id={{ data.lastPost.idPost }}" class="black postPublicationHome">
                <div class="imgPostPrincipalHome">
                  <img class="" src="images/post/{{ data.lastPost.imagePost }}">
                </div>
                <div class="contentPublicacionPrincipalHome">
                  <h3>{{ data.lastPost.title }}</h3>
                  <span class="label">{{ data.lastPost.label }}</span>
                  <p class="desc">{{ data.lastPost.description }}</p>
                  <p class="dateCreation">{{ data.lastPost.dateCreation|date('d/m/Y') }}</p>
                </div>
                <div class="readMoreBlogHome">
                  <span>Lire plus...</span>
                </div>
              </a>
            </div>
            {# end first post #}
                    {% for otherPost in
        data.paginationPost.postFront %}
          {# Other post #}
            <div class="col-page col-sm-4 col-md-4">
              <a href="?p=post&id={{ otherPost.idPost }}"  class="postPublicationHome">
                <div class="imgPostPublication">
                  <img class="img-responsive" src="images/post/{{ otherPost.imagePost }}">
                </div>
                <div class="contentPostHome">
                  <h3>{{ otherPost.title }}</h3>
                  <span class="label">{{ otherPost.label }}</span>
                  <p class="descPost" >{{ otherPost.description }}</p>
                  <p class="datePost" >{{ otherPost.dateCreation|date('d/m/Y') }}</p>
                </div>
                <div class="readMoreBlogHome">
                  <span>Lire plus... </span>
                </div>
              </a>
            </div>
            {# End post #}
            {% endfor %}
   {#--------------------------END-lastPost-----------------------------#}
    {% if data.paginationPost %}
    {#--------------------------paginationPost-----------------------------#}
    <nav aria-label="Page navigation mr-auto">
        <ul class="paginationPost pg-blue">
            <li class="page-item
                {% if data.paginationPost.current == 1
                or data.paginationPost.current <1 %}
                disabled
                {% endif %}">
                <a class="page-link" aria-label="Previous" href="{% if
                    data.paginationPost.current != 1 %}
                    ?p=listesArticles&pp={{data.paginationPost.current -
                    1 }}
                    {% else %}
                    ?p=listesArticles&pp={{data.paginationPost.current
                    }}
                    {% endif %}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for i in 1..data.paginationPost.nbPage %}
            {% if i == data.paginationPost.current %}
            <li class="page-item active"><a class="page-link"
                    href="?p=listesArticles&pp={{ i }}">{{ i }}</a></li>
            {% else %}
            <li class="page-item
                {% if data.paginationPost.current <1 %}
                disabled
                {% endif %}"><a class="page-link"
                    href="?p=listesArticles&pp={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            <li class="page-item
                {% if data.paginationPost.current ==
                data.paginationPost.nbPage %}
                disabled
                {% endif %}">
                <a class="page-link" aria-label="Next" href="{% if
                    data.paginationPost.current !=
                    data.paginationPost.nbPage %}
                    ?p=listesArticles&pp={{data.paginationPost.current +
                    1 }}
                    {% else %}
                    ?p=listesArticles&pp={{data.paginationPost.current
                    }}
                    {% endif %}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}
    {#-------------------------END-PAGINATION-----------------------------#}

          </div>
        </div>
      </div>
    </section>

{# modal connexion #}
{% include 'frontoffice/modalConnexion.html.twig' %}
{% endblock %}
