{% extends "frontoffice/layout.html.twig" %}
{% block content %}
	<div class="container postPage">
		<div
			class="raw">
			<h1 class="text-left h1 pt-4 mb-3">
				<strong>{{data.post.title }}</strong>
			</h1>
			<div
				class="col-md-12">
				<div
					class="pb-5 mx-md-3">
					<img
					class="image-responsive" src="images/post/{{ data.post.imagePost }}" alt="">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-xl-12 d-flex justify-content-left">
								<p class="font-small grey-text mb-0">
									{{ data.user.userName }}
								</p>
								<pre>|</pre>
								<p class="font-small grey-text mb-0">
									{{ data.post.datePost|date('d/m/Y') }}
								</p>
							</div>
						</div>
						<p class="text-justify">
							{{ data.post.chapo|raw }}
						</p>
						<p class="text-justify">
							{{ data.post.description|raw }}
						</p>
					</div>
				</div>
				{% if session.user %}
					<div class="container">
						<div class="raw formComment">
					{% if data.message.success %}
						{% for succe in data.message.success %}
							<div class="alert alert-primary" id="ancre" role="alert">
								{{succe}}
							</div>
						{% endfor %}
					{% endif %}
					{% if data.message.error %}
						{% for errors in data.message.error %}
							<div class="alert alert-danger" role="alert">
								{{errors}}
							</div>
						{% endfor %}
					{% endif %}
							<h3 class="commentTitle mt-4">Laisser un commentaires:</i>
								</span>
							</h3>
							<form id="myForm" class="col-md-8 col-12 dp-" method="POST" action="/?page=post&id={{data.post.idPost}}&action=sendComment">
								<textarea id="message " name="comment" placeholder="Laissez un commentaire" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 textAreaForm" require></textarea>
								<input type="hidden" name="token" id="token" value="{{session.token}}">
								<button type="submit" name="submit" class="btn btn-primary mx-auto">Envoyer</button>
							</form>
						</div>
					</div>
				{% else %}
					<div class="container">
						<div class="raw">
							<p>Connectez-vous pour mettre un commentaire:
							</p>
							<div class="btnConnexion">
								<a href="/?page=login">
									<button class="btn btn-primary mx-auto">Se connecter</button>
								</a>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="container">
					<div class="raw">
						<section class="comments">
						{% if data.comment %}
						{% for text in data.comment %}
							<article class="comment border border-white p-3">
								<div class="comment-body">	
									<div class="text text-white p-0 border-0">
										<p class="bg-black">{{text.content}}</p>
									</div>
									<div class="d-flex bd-highlight mb-3">
									<p class="attribution mr-auto p-2 bd-highlight">de
										{{text.UserId}}	à {{text.dateCreation|date('H\\hi\\m')}}</p>
									</div>
								</div>
							</article>
							{% endfor %}
						{% endif %}
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

