{% extends "frontoffice/layout.html.twig" %}
{% block content %}
	<div class="container postPage">
		<div
			class="raw">
			{#--------------------------SECTION-HEADING----------------------------#}
			<h1 class="text-left h1 pt-4 mb-3">
				<strong>{{data.post.title }}</strong>
			</h1>
			{#-------------------------END-SECTION-HEADING----------------------------#}
			{#--------------------------GRILLE-COLONNE----------------------------#}
			<div
				class="col-md-12">
				{#--------------------------CARD----------------------------#}
				<div
					class="pb-5 mx-md-3">
					{#--------------------------IMAGE----------------------------#}
					<img
					class="image-responsive" src="images/post/{{ data.post.imagePost }}" alt="">
					{#--------------------------END-IMAGE----------------------------#}
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-xl-12 d-flex justify-content-left">
								<p class="font-small grey-text mb-0">
									{{ data.user }}
								</p>
								<pre>|</pre>
								<p class="font-small grey-text mb-0">
									{{ data.post.datePost|date('d/m/Y') }}
								</p>
							</div>
						</div>
						{#--------------------------GRILLE-COLONNE----------------------------#}
						<p class="text-justify">
							<pre>Chapô du post:</pre>
							{{ data.post.chapô|raw }}
						</p>
						<p class="text-justify">
							<pre>Description du post:</pre>
							{{ data.post.description|raw }}
						</p>
					</div>
					{#--------------------------END-GRILLE-COLONNE----------------------------#}
				</div>
				{% if session.user %}
					{#--------------------------END-CARD----------------------------#}
					{#--------------------------Form Comments----------------------------#}
					{#--------------------------CONDITION-DATA----------------------------#}
						{% if data %}
						{#--------------------------SUCCES-MESSAGE----------------------------#}
							{% for success in data.succes %}
								<div class="alert alert-primary" role="alert"> {{success}}
							</div>
						{% endfor %}
						{#-------------------------END-CONDITION-DATA----------------------------#}
						{#-------------------------END-SUCCES-MESSAGE----------------------------#}
					{% endif %}
					{#--------------------------CONDITION-DATA----------------------------#}
					{% if data %}
						{#--------------------------ERROR-MESSAGE----------------------------#}
						{% for errors in data.error %}
							<div class="alert alert-danger" role="alert">
								{{errors}}
							</div>
						{% endfor %}
						{#--------------------------ERROR-MESSAGE----------------------------#}
					{% endif %}
					{#--------------------------END-CONDITION-DATA----------------------------#}
					<div class="container">
						<div class="raw formComment">
							<h3 class="commentTitle">Laisser un commentaires:<span class="alert alert-primary">Obligatoire:<i class="fas fa-exclamation-triangle"></i>
								</span>
							</h3>
							<form id="myForm" class="col-md-8 col-12 dp-" method="POST" action="/?page=post&id={{ data.post.id }}&action=submitComment&#ancre">
								<textarea id="message " name="comment" placeholder="Laissez un commentaire" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 textAreaForm" require></textarea>
								<input type="hidden" name="token" id="token" value="{{session.token}}">
								<button type="submit" name="submit" class="btn btn-primary mx-auto">Envoyer</button>
							</form>
						</div>
					</div>
				{% else %}
					<div class="container">
						<div class="raw">
							<p>Connectez-vous pour mettre un commentaire:
							</p>
							<div class="btnConnexion">
								<a href="/?page=connexion">
									<button class="btn btn-primary mx-auto">Se connecter</button>
								</a>
							</div>
						</div>
					</div>
				{% endif %}
				
				<div class="container">
					<div class="raw">
						<section class="comments">
						{% if data.comment.disabled < 0 %}
							<article class="comment">
								<div class="comment-body">
									<div class="text">
										<p>{{data.comment.content}}</p>
									</div>
									<p class="attribution">de
										<a href="#">{{data.session.user}}</a>
										à {{data.comment.dateCreation}}</p>
								</div>
							</article>
						{% endif %}
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	{#--------------------------Form Comments----------------------------#}
{% endblock %}

