{% extends "frontoffice/layout.html.twig" %}

{% block title %}Inscription
{% endblock %}
{% block content %}
	<section class="container">
		<div id="registerbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title text-center">
					Inscription
					</h2>
				</div>
				<div
					class="panel-body">
					{% if data.checkRegister.success %}
							<div class="alert alert-primary" role="alert"> {{data.checkRegister.success}}
						</div>
					{% endif %}
					{% if data.checkRegister.error %}
						{% for errors in data.checkRegister.error %}
							<div class="alert alert-danger" role="alert">
								{{errors}}
							</div>
						{% endfor %}
					{% endif %}
					<p class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> Attention<i class="fas fa-exclamation-triangle"></i> <br> Bien choisir votre pseudo ! Il sera relié à votre email.<br>Exemple: Si vous voulez changez le pseudo, il faudra changer l'email obligatoirement !!</p>
					<form method="POST" action="/?page=registerUser">
						<label for="userName">Pseudo</label><br>
						<input id="userName" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre Pseudo" type="text" name="userName" {% if data.pseudo %} value="{{data.pseudo|raw}}" {% endif %}><br>
						<label for="email">E-mail</label><br>
						<input id="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre e-mail" type="text" name="email" {% if data.email %} value="{{data.email|raw}}" {% endif %}><br>
						<label for="password">Mot de passe</label><br>
						<input id="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre mot de passe" type="password" name="password"><br>
						<label for="passwordConfirmation">Mot de passe de confirmation</label><br>
						<input id="passwordConfirmation" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre mot de passe de confirmation" type="password" name="passwordConfirmation"><br>
						<input type="hidden" name="token" id="token" value="{{session.token}}"/>
						<button class="btn btn-primary mx-auto" type="submit">S'inscrire</button>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

